/*StyleSheet
*/
/* CSS Syntac
selector {

} */

p { /* select all <p> */
  font-size: 1em;
  line-height: 1.5em
}

figcaption {
  font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}
